/lib/libzdtmtst.a
/live/static/arm-neon00
/live/static/bind-mount
/live/static/busyloop00
/live/static/caps00
/live/static/cgroup00
/live/static/cgroup01
/live/static/cgroup02
/live/static/child_opened_proc
/live/static/chroot
/live/static/chroot-file
/live/static/clean_mntns
/live/static/cmdlinenv00
/live/static/cow00
/live/static/cow01
/live/static/criu-rtc.pb-c.c
/live/static/criu-rtc.pb-c.h
/live/static/cwd00
/live/static/cwd01
/live/static/cwd02
/live/static/deleted_dev
/live/static/deleted_unix_sock
/live/static/dumpable01
/live/static/dumpable02
/live/static/env00
/live/static/eventfs00
/live/static/fanotify00
/live/static/fdt_shared
/live/static/fifo
/live/static/fifo-ghost
/live/static/fifo-rowo-pair
/live/static/fifo_ro
/live/static/fifo_wronly
/live/static/file_append
/live/static/file_attr
/live/static/file_fown
/live/static/file_locks00
/live/static/file_locks01
/live/static/file_shared
/live/static/fpu00
/live/static/fpu01
/live/static/futex
/live/static/futex-rl
/live/static/groups
/live/static/grow_map
/live/static/grow_map02
/live/static/grow_map03
/live/static/inotify00
/live/static/inotify_irmap
/live/static/inotify_system
/live/static/inotify_system_nodel
/live/static/ipc_namespace
/live/static/link10
/live/static/maps00
/live/static/maps01
/live/static/maps02
/live/static/maps03
/live/static/maps04
/live/static/maps05
/live/static/maps_file_prot
/live/static/mem-touch
/live/static/mmx00
/live/static/mntns_link_ghost
/live/static/mntns_link_remap
/live/static/mntns_open
/live/static/mntns_shared_bind
/live/static/mntns_shared_bind02
/live/static/mountpoints
/live/static/mprotect00
/live/static/msgque
/live/static/mtime_mmap
/live/static/netns
/live/static/netns-nf
/live/static/overmount_dev
/live/static/overmount_fifo
/live/static/overmount_file
/live/static/overmount_sock
/live/static/packet_sock
/live/static/pdeath_sig
/live/static/pid00
/live/static/pipe00
/live/static/pipe01
/live/static/pipe02
/live/static/posix_timers
/live/static/proc-self
/live/static/pstree
/live/static/pthread00
/live/static/pthread01
/live/static/ptrace_sig
/live/static/pty00
/live/static/pty01
/live/static/pty02
/live/static/pty03
/live/static/pty04
/live/static/remap_dead_pid
/live/static/rlimits00
/live/static/rmdir_open
/live/static/rtc
/live/static/sched_policy00
/live/static/sched_prio00
/live/static/selfexe00
/live/static/sem
/live/static/session00
/live/static/session01
/live/static/session02
/live/static/session03
/live/static/shm
/live/static/sigaltstack
/live/static/signalfd00
/live/static/sigpending
/live/static/sk-netlink
/live/static/sk-unix-unconn
/live/static/sleeping00
/live/static/sock_filter
/live/static/sock_opts00
/live/static/sock_opts01
/live/static/socket-ext
/live/static/socket-tcp
/live/static/socket-tcp6
/live/static/socket-tcpbuf
/live/static/socket-tcpbuf-local
/live/static/socket-tcpbuf6
/live/static/socket6_udp
/live/static/socket_aio
/live/static/socket_listen
/live/static/socket_listen6
/live/static/socket_queues
/live/static/socket_udp
/live/static/socket_udplite
/live/static/sockets00
/live/static/sockets01
/live/static/sockets02
/live/static/sockets_dgram
/live/static/sockets_spair
/live/static/sse00
/live/static/sse20
/live/static/stopped
/live/static/tempfs
/live/static/timerfd
/live/static/timers
/live/static/tty00
/live/static/tty02
/live/static/tty03
/live/static/tun
/live/static/umask00
/live/static/unbound_sock
/live/static/unhashed_proc
/live/static/unlink_fifo
/live/static/unlink_fifo_wronly
/live/static/unlink_fstat00
/live/static/unlink_fstat01
/live/static/unlink_fstat02
/live/static/unlink_fstat03
/live/static/unlink_largefile
/live/static/unlink_mmap00
/live/static/unlink_mmap01
/live/static/unlink_mmap02
/live/static/uptime_grow
/live/static/utsname
/live/static/vdso00
/live/static/vdso01
/live/static/wait00
/live/static/write_read00
/live/static/write_read01
/live/static/write_read02
/live/static/write_read10
/live/static/xids00
/live/static/zombie00
/live/static/ip.dump
/live/static/ip.rst
/live/static/vt
/live/static/aio00
/live/static/packet_sock_mmap
/live/static/console
/live/static/fd
/live/static/file_locks02
/live/static/file_locks03
/live/static/file_locks04
/live/static/file_locks05
/live/static/mlock_setuid
/live/static/mntns_root_bind
/live/streaming/fifo_dyn
/live/streaming/fifo_loop
/live/streaming/file_aio
/live/streaming/netlink00
/live/streaming/pipe_loop00
/live/streaming/pipe_shared00
/live/streaming/socket-tcp
/live/streaming/socket-tcp6
/live/streaming/socket_loop00
/live/streaming/unix_sock
/live/transition/epoll
/live/transition/file_read
/live/transition/fork
/live/transition/fork2
/live/transition/ipc
/live/transition/maps007
/live/transition/ptrace
/live/transition/thread-bomb

*.pid
*.out
*.outns
*.out.external
*.inprogress
*.test
*.test.*
