/lib/libzdtmtst.a
/live/static/busyloop00
/live/static/caps00
/live/static/cmdlinenv00
/live/static/cwd00
/live/static/deleted_dev
/live/static/deleted_unix_sock
/live/static/env00
/live/static/eventfs00
/live/static/fifo
/live/static/fifo_wronly
/live/static/file_attr
/live/static/file_fown
/live/static/file_shared
/live/static/fpu00
/live/static/futex
/live/static/inotify00
/live/static/inotify_system
/live/static/inotify_system_nodel
/live/static/ipc_namespace
/live/static/link10
/live/static/maps00
/live/static/maps01
/live/static/mmx00
/live/static/mprotect00
/live/static/msgque
/live/static/mtime_mmap
/live/static/overmount_dev
/live/static/overmount_fifo
/live/static/overmount_file
/live/static/overmount_sock
/live/static/pid00
/live/static/pipe00
/live/static/pipe01
/live/static/pstree
/live/static/pthread00
/live/static/ptrace_sig
/live/static/selfexe00
/live/static/sem
/live/static/shm
/live/static/sleeping00
/live/static/socket6_udp
/live/static/socket_aio
/live/static/socket_listen
/live/static/socket_queues
/live/static/socket_udp
/live/static/socket_udplite
/live/static/sockets00
/live/static/sse00
/live/static/sse20
/live/static/timers
/live/static/umask00
/live/static/unbound_sock
/live/static/unlink_fifo
/live/static/unlink_fifo_wronly
/live/static/unlink_fstat00
/live/static/unlink_fstat01
/live/static/unlink_fstat02
/live/static/unlink_largefile
/live/static/utsname
/live/static/vdso00
/live/static/wait00
/live/static/write_read00
/live/static/write_read01
/live/static/write_read02
/live/static/write_read10
/live/static/xids00
/live/static/zombie00
/live/streaming/fifo_dyn
/live/streaming/fifo_loop
/live/streaming/file_aio
/live/streaming/netlink00
/live/streaming/pipe_loop00
/live/streaming/pipe_shared00
/live/streaming/socket_loop00
/live/streaming/unix_sock
/live/transition/epoll
/live/transition/file_read
/live/transition/fork
/live/transition/ipc
/live/transition/ptrace

