*.o
*.d
*.a
*.img
*.bin
*.elf
*.out
*.swp
*.swo
*.so
.git-ignore
*.patch
*.pyc
cscope*
tags
TAGS
Makefile.local
images/*.c
images/*.h
images/google/protobuf/*.c
images/google/protobuf/*.h
.gitid
criu/criu
criu/arch/*/sys-exec-tbl.c
criu/arch/*/syscalls.S
criu/include/config.h
criu/include/syscall-codes.h
criu/include/syscall.h
criu/include/version.h
criu/pie/restorer-blob.h
criu/pie/parasite-blob.h
criu/pie/piegen/piegen
criu/pie/pie.lds.S
criu/protobuf-desc-gen.h
scripts/build/qemu-user-static/*
