.config
*.o
*.d
*.a
*.img
*.bin
*.elf
*.out
*.swp
*.swo
*.so
.git-ignore
*.patch
*.pyc
cscope*
tags
TAGS
Makefile.local
compel/compel
compel/compel-host-bin
images/*.c
images/*.h
images/google/protobuf/*.c
images/google/protobuf/*.h
.gitid
criu/criu
criu/unittest/unittest
crit/crit
criu/arch/*/sys-exec-tbl*.c
# x86 syscalls-table is not generated
!criu/arch/x86/sys-exec-tbl.c
criu/arch/*/syscalls*.S
criu/include/syscall-codes*.h
criu/include/syscall*.h
criu/include/version.h
criu/pie/restorer-blob.h
criu/pie/parasite-blob.h
criu/protobuf-desc-gen.h
lib/build/
lib/c/criu.pc
lib/.crit-setup.files
compel/include/asm
include/common/asm
include/common/config.h
