*.o
*.d
*.img
*.bin
*.elf
*.out
*.swp
*.swo
*-blob.h
*.so
.git-ignore
*.patch
*.pyc
criu
cscope*
tags
TAGS
Makefile.local
syscall-x86-64.S
include/syscall.h
include/syscall-codes.h
protobuf/*.c
protobuf/*.h
protobuf/google/protobuf/*.c
protobuf/google/protobuf/*.h
include/version.h
arch/x86/sys-exec-tbl.c
arch/x86/syscalls.S
pie/pie.lds.S
pie/piegen/piegen
include/config.h
protobuf-desc-gen.h
criu.pc
build
.gitid
usr/
