arch/x86/plugins/std/sys-exec-tbl-64.c
arch/x86/plugins/std/syscalls-64.S
arch/arm/plugins/std/syscalls/syscalls.S
arch/aarch64/plugins/std/syscalls/syscalls.S
arch/s390/plugins/std/syscalls/syscalls.S
arch/ppc64/plugins/std/syscalls/syscalls.S
include/version.h
plugins/include/uapi/std/asm/syscall-types.h
plugins/include/uapi/std/syscall-64.h
plugins/include/uapi/std/syscall-codes-64.h
plugins/include/uapi/std/syscall-codes.h
plugins/include/uapi/std/syscall.h
plugins/include/uapi/std/syscall-aux.h
plugins/include/uapi/std/syscall-aux.S
