name: Daily Cross Compile Tests

on:
  schedule:
    - cron:  '30 12 * * *'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [armv7-cross, aarch64-cross, ppc64-cross, mips64el-cross]
        branches: [criu-dev, master]

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ matrix.branches }}
    - name: Run Cross Compilation Targets
      run: >
        sudo make -C scripts/ci ${{ matrix.target }}
