name: Run code linter

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: registry.fedoraproject.org/fedora:latest
    steps:
    - name: Install tools
      run: sudo dnf -y install git make python3-flake8 ShellCheck clang-tools-extra which findutils codespell

    - uses: actions/checkout@v2

    - name: Set git safe directory
      # https://github.com/actions/checkout/issues/760
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

    - name: Run make lint
      run: make lint

    - name: Run make indent
      run: >
        make indent &&
        STATUS=$(git status --porcelain) &&
        if [ ! -z "$STATUS" ]; then
          echo "FAIL: some files are not correctly formatted.";
          echo "$STATUS"
          git diff
          echo "FAIL: please run 'make indent'";
          exit 1;
        fi
